* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6; }

::selection {
  background-color: #614f41;
  color: white; }

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  background-color: black; }

.spinner {
  border: 16px solid #bdc3c7;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border-top-color: #3c233a;
  border-right-color: #b44227;
  border-bottom-color: #3c233a;
  border-left-color: #b44227;
  animation: 3s spin linear infinite; }

.hr {
  border: 0;
  box-shadow: 0 0 10px 1px #b44227;
  margin: 1rem auto 3rem auto;
  width: 10rem;
  height: 0.5rem;
  border-radius: 10px; }

.svg--icon {
  background-color: #b44227;
  margin-right: 2rem;
  height: 3.75rem;
  width: 3.75rem;
  padding: 0.75rem;
  fill: white;
  transition: all 0.2s; }

.svg--icon:hover {
  transform: translatey(-3px) scale(1.03);
  box-shadow: 0 8px 6px -6px black; }

.svg--brand {
  fill: white;
  width: 10rem;
  height: 8rem;
  padding: 2rem;
  transition: all 0.2s; }

.html {
  background-color: #e34f26; }

.svg--brand:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 6px -6px rgba(255, 255, 255, 0.8); }

.css {
  background-color: #1572b6; }

.svg--brand:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 6px -6px rgba(255, 255, 255, 0.8); }

.js {
  background-color: #f7df1e; }

.svg--brand:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 6px -6px rgba(255, 255, 255, 0.8); }

.bs {
  background-color: #563d7c; }

.svg--brand:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 6px -6px rgba(255, 255, 255, 0.8); }

.sass {
  background-color: #cc6699; }

.svg--brand:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 6px -6px rgba(255, 255, 255, 0.8); }

.nodejs {
  background-color: #47a248; }

.svg--brand:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 6px -6px rgba(255, 255, 255, 0.8); }

.jq {
  background-color: #0769ad; }

.svg--brand:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 6px -6px rgba(255, 255, 255, 0.8); }

.mongodb {
  background-color: #339933; }

.svg--brand:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 6px -6px rgba(255, 255, 255, 0.8); }

.python {
  background-color: #3776ab; }

.svg--brand:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 6px -6px rgba(255, 255, 255, 0.8); }

.git {
  background-color: #f05032; }

.svg--brand:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 6px -6px rgba(255, 255, 255, 0.8); }

.django {
  background-color: #092e20; }

.svg--brand:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 6px -6px rgba(255, 255, 255, 0.8); }

.gitlab {
  background-color: #e24329; }

.svg--brand:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 6px -6px rgba(255, 255, 255, 0.8); }

.linkedin {
  background-color: #0077b5; }

.svg--brand:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 6px -6px rgba(255, 255, 255, 0.8); }

.face {
  background-color: #3b5998; }

.svg--brand:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 6px -6px rgba(255, 255, 255, 0.8); }

@keyframes slidefade {
  0% {
    opacity: 0;
    transform: translateX(-3rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1; }

.arrow {
  width: 3.5rem;
  cursor: pointer; }

.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite; }

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px); } }

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.lottie {
  animation-name: grow;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

@keyframes grow {
  from {
    transform: translate(0, 0) rotate(0); }
  to {
    transform: translate(3%, -3%) rotate(5deg); } }

.head-box {
  display: flex;
  align-items: center; }

.h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 4.22vw;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left, #614f41 2%, #fde071 12.5%, #ef9671, #b44227 62.5%, #614f41 98%);
  background-image: linear-gradient(90deg, #614f41 2%, #fde071 12.5%, #ef9671, #b44227 62.5%, #614f41 98%); }

.brackets {
  font-size: 8.69vw;
  font-weight: 900;
  margin: 0 24px;
  color: #b44227; }

.heading {
  animation: slidefade 2s ease-out;
  font-weight: 600;
  color: #b44227;
  text-transform: capitalize; }

.heading-first {
  font-size: 4.75rem;
  letter-spacing: 0.3rem; }

.heading-second {
  font-size: 3rem;
  letter-spacing: 0.4rem; }

.heading-section-primary {
  color: #565656;
  font-size: 4.75rem;
  font-weight: 100;
  text-transform: uppercase; }

.heading-section-tertiary {
  color: #565656;
  font-size: 3.75rem;
  font-weight: 300;
  text-transform: capitalize; }

.paragraph {
  font-size: 2rem;
  font-weight: 100;
  color: #565656;
  text-align: left;
  line-height: 3rem; }

.text-center {
  text-align: center; }

.u-fix-heading {
  margin-top: 10rem; }

.u-fix-margin-top-small {
  margin-top: 5rem !important; }

.u-fix-color {
  color: white !important; }

.u-fix-upper {
  text-transform: uppercase !important; }
