* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6; }

::selection {
  background-color: #614f41;
  color: white; }

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  background-color: black; }

.spinner {
  border: 16px solid #bdc3c7;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border-top-color: #3c233a;
  border-right-color: #b44227;
  border-bottom-color: #3c233a;
  border-left-color: #b44227;
  animation: 3s spin linear infinite; }

.hr {
  border: 0;
  box-shadow: 0 0 10px 1px #b44227;
  margin: 1rem auto 3rem auto;
  width: 10rem;
  height: 0.5rem;
  border-radius: 10px; }

.svg--icon {
  background-color: #b44227;
  margin-right: 2rem;
  height: 3.75rem;
  width: 3.75rem;
  padding: 0.75rem;
  fill: white;
  transition: all 0.2s; }

.svg--icon:hover {
  transform: translatey(-3px) scale(1.03);
  box-shadow: 0 8px 6px -6px black; }

.svg--brand {
  fill: white;
  width: 10rem;
  height: 8rem;
  padding: 2rem;
  transition: all 0.2s; }

.html {
  background-color: #e34f26; }

.svg--brand:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 6px -6px rgba(255, 255, 255, 0.8); }

.css {
  background-color: #1572b6; }

.svg--brand:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 6px -6px rgba(255, 255, 255, 0.8); }

.js {
  background-color: #f7df1e; }

.svg--brand:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 6px -6px rgba(255, 255, 255, 0.8); }

.bs {
  background-color: #563d7c; }

.svg--brand:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 6px -6px rgba(255, 255, 255, 0.8); }

.sass {
  background-color: #cc6699; }

.svg--brand:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 6px -6px rgba(255, 255, 255, 0.8); }

.nodejs {
  background-color: #47a248; }

.svg--brand:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 6px -6px rgba(255, 255, 255, 0.8); }

.jq {
  background-color: #0769ad; }

.svg--brand:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 6px -6px rgba(255, 255, 255, 0.8); }

.mongodb {
  background-color: #339933; }

.svg--brand:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 6px -6px rgba(255, 255, 255, 0.8); }

.python {
  background-color: #3776ab; }

.svg--brand:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 6px -6px rgba(255, 255, 255, 0.8); }

.git {
  background-color: #f05032; }

.svg--brand:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 6px -6px rgba(255, 255, 255, 0.8); }

.django {
  background-color: #092e20; }

.svg--brand:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 6px -6px rgba(255, 255, 255, 0.8); }

.gitlab {
  background-color: #e24329; }

.svg--brand:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 6px -6px rgba(255, 255, 255, 0.8); }

.linkedin {
  background-color: #0077b5; }

.svg--brand:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 6px -6px rgba(255, 255, 255, 0.8); }

.face {
  background-color: #3b5998; }

.svg--brand:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 6px -6px rgba(255, 255, 255, 0.8); }

@keyframes slidefade {
  0% {
    opacity: 0;
    transform: translateX(-3rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1; }

.arrow {
  width: 3.5rem;
  cursor: pointer; }

.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite; }

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px); } }

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.lottie {
  animation-name: grow;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

@keyframes grow {
  from {
    transform: translate(0, 0) rotate(0); }
  to {
    transform: translate(3%, -3%) rotate(5deg); } }

.header {
  height: 100vh;
  width: 100%;
  background: #614f41;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3c233a, #614f41);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3c233a, #614f41);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 3rem;
  position: relative;
  z-index: 2; }
  .header__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .header__figure {
    margin-bottom: 6rem;
    height: 30rem;
    width: 30rem;
    border: 1px solid #b44227;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.3);
    z-index: 3; }
    .header__figure-avatar {
      filter: brightness(70%) blur(8px);
      transform: scale(1.5);
      transition: inherit; }
    .header__figure-caption {
      font-family: 'Pacifico', cursive;
      font-size: 3.25rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #fde071;
      text-transform: capitalize;
      transition: inherit; }
    .header__figure:hover .header__figure-avatar {
      filter: brightness(100%) blur(0);
      transform: scale(1);
      transition: inherit; }
    .header__figure:hover .header__figure-caption {
      top: 100%;
      transform: translate(-50%, 0);
      transition: inherit; }

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 100;
  text-transform: capitalize;
  list-style: none;
  position: inherit;
  z-index: 3;
  box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem; }
  .nav__me {
    flex: 1; }
  .nav__list:not(:last-child) {
    padding-right: 5rem; }
  .nav__link:link, .nav__link:visited {
    color: #b44227;
    text-decoration: none; }
    .nav__link:link:hover, .nav__link:visited:hover {
      color: #d4573a;
      transition: all 0.3s; }

.main {
  margin-top: -10rem;
  padding-top: 10rem; }
  .main .about {
    padding-top: 5rem;
    background-color: white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' viewBox='0 0 192 192'%3E%3Cpath fill='%23cccccc' fill-opacity='0.06' d='M192 15v2a11 11 0 0 0-11 11c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H145v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11 13 13 0 1 1 .02 26 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43a6.1 6.1 0 0 0-3.03 4.87V143h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 181 164a11 11 0 0 0 11 11v2a13 13 0 0 1-13-13 12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84a6.1 6.1 0 0 0-4.87-3.03H145v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 124 181a11 11 0 0 0-11 11h-2a13 13 0 0 1 13-13c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43a6.1 6.1 0 0 0 3.03-4.87V145h-35.02a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 107 124a11 11 0 0 0-22 0c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H49v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11A13 13 0 0 1 81 192h-2a11 11 0 0 0-11-11c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V145H11.98a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 0 1 0 177v-2a11 11 0 0 0 11-11c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H47v-35.02a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 28 109a13 13 0 1 1 0-26c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43A6.1 6.1 0 0 0 47 84.02V49H11.98a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 11 28 11 11 0 0 0 0 17v-2a13 13 0 0 1 13 13c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84A6.1 6.1 0 0 0 11.98 47H47V11.98a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 68 11 11 11 0 0 0 79 0h2a13 13 0 0 1-13 13 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43A6.1 6.1 0 0 0 49 11.98V47h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 85 68a11 11 0 0 0 22 0c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H143V11.98a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 124 13a13 13 0 0 1-13-13h2a11 11 0 0 0 11 11c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V47h35.02a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 179 28a13 13 0 0 1 13-13zM84.02 143a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 83 124a13 13 0 1 1 26 0c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84a6.1 6.1 0 0 0 4.87 3.03H143v-35.02a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 164 107a11 11 0 0 0 0-22c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V49h-35.02a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 1 1 83 68a12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84A6.1 6.1 0 0 0 84.02 49H49v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 28 85a11 11 0 0 0 0 22c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V143h35.02z'%3E%3C/path%3E%3C/svg%3E");
    text-align: center;
    margin: 10rem;
    box-shadow: 0 1rem 6rem rgba(180, 66, 39, 0.5); }
    .main .about__personal {
      display: grid;
      grid-template-rows: repeat(3, 37rem);
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0; }
      .main .about__personal-image {
        width: 100%;
        height: 100%;
        filter: grayscale(100%);
        transition: filter 0.8s; }
        .main .about__personal-image:hover {
          filter: grayscale(0) saturate(2);
          transition: filter 0.8s; }
        .main .about__personal-image--left {
          width: inherit;
          height: inherit; }
        .main .about__personal-image--right {
          width: inherit;
          height: inherit;
          grid-column: 2 / 3; }
      .main .about__personal-box-1 {
        padding: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
        flex-wrap: wrap; }
      .main .about__personal .to-left {
        grid-column: 1 / 2; }
    .main .about__link:link, .main .about__link:visited {
      color: #b44227;
      text-decoration: none; }
      .main .about__link:link:hover, .main .about__link:visited:hover {
        color: rgba(127, 255, 206, 0.6);
        transition: all 0.3s; }
  .main .to-left {
    grid-row: 2 / 3;
    grid-column: 1 / 2; }
  .main .tools {
    height: 120vh;
    background-color: #158ab4;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%237fffd4' fill-opacity='0.77' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
    padding: 5rem; }
    .main .tools__tech {
      background-color: rgba(0, 0, 0, 0.9);
      height: 100%;
      width: 100%;
      padding: 3rem;
      text-align: center; }
    .main .tools .col-3 {
      grid-template-rows: repeat(2, auto);
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 0; }
  .main .icons {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch; }
  .main .portfolio {
    padding-top: 5rem;
    padding-bottom: 15rem; }
    .main .portfolio__works {
      text-align: center; }
  .main .cards {
    padding: 0 5rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(auto, 57rem));
    grid-template-rows: auto;
    grid-gap: 2rem; }
  .main .cards__card {
    overflow: hidden;
    box-shadow: 1px 2px 5px #777;
    height: 32.5rem;
    width: 100%; }
    .main .cards__card--img {
      width: 100%;
      height: inherit;
      object-fit: fill; }
  .main .social {
    padding: 5rem 0 19rem 0;
    text-align: center; }
  .main .contact {
    position: relative;
    padding: 10rem 5rem 5rem 5rem;
    background-attachment: fixed;
    background-image: linear-gradient(to right bottom, rgba(60, 35, 58, 0.5) 0%, rgba(97, 79, 65, 0.5) 100%), url(../img/space-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
    text-align: center; }
    .main .contact__form {
      position: relative;
      padding-top: 17rem;
      height: 70rem;
      width: 100%;
      clip-path: polygon(0 0, 100% 26%, 100% 100%, 0 100%);
      background-color: #3c233a;
      box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.3);
      opacity: 0.8; }
  .main .lottie {
    background-color: transparent;
    width: 50rem;
    height: 50rem;
    position: absolute;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    text-align: center;
    opacity: 0.3;
    z-index: -1;
    top: 5rem;
    right: 5rem; }
  .main .form {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1; }
    .main .form__input__box {
      margin: 5rem 0 2rem 0; }
    .main .form__text__box {
      margin-bottom: 2rem;
      opacity: 0.8; }
    .main .form__input {
      padding: 1rem;
      font-size: 1.4rem;
      color: #fff;
      width: 29.1%;
      height: 4rem;
      border: 0;
      background-color: #b44227;
      opacity: 0.8; }
      .main .form__input:not(:last-child) {
        margin-right: 2rem; }
    .main .form__input::placeholder {
      color: #fff; }
    .main .form__input[type='text']:focus {
      border: 2px solid #fff;
      outline: none; }
    .main .form__textarea {
      padding: 1rem;
      height: 15rem;
      width: 60%;
      border: 0;
      background-color: #b44227;
      opacity: 1;
      font-size: 1.4rem;
      color: #fff; }
    .main .form__textarea:focus {
      outline: none;
      border: 2px solid #fff; }
    .main .form__submit {
      height: 4rem;
      width: 29.1%;
      cursor: pointer;
      border: 0;
      opacity: 1;
      font-size: 1.4rem;
      text-transform: uppercase;
      color: #fff;
      background-color: #3c233a;
      border: 1px solid #b44227;
      border-radius: 3px; }
      .main .form__submit:not(:last-child) {
        margin-right: 2rem; }
    .main .form__send {
      background-color: #b44227; }
    .main .form__send:hover {
      background-color: #c94a2c; }
    .main .form__submit:focus {
      outline: none;
      border: 2px solid #fff; }

.head-box {
  display: flex;
  align-items: center; }

.h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 4.22vw;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left, #614f41 2%, #fde071 12.5%, #ef9671, #b44227 62.5%, #614f41 98%);
  background-image: linear-gradient(90deg, #614f41 2%, #fde071 12.5%, #ef9671, #b44227 62.5%, #614f41 98%); }

.brackets {
  font-size: 8.69vw;
  font-weight: 900;
  margin: 0 24px;
  color: #b44227; }

.heading {
  animation: slidefade 2s ease-out;
  font-weight: 600;
  color: #b44227;
  text-transform: capitalize; }

.heading-first {
  font-size: 4.75rem;
  letter-spacing: 0.3rem; }

.heading-second {
  font-size: 3rem;
  letter-spacing: 0.4rem; }

.heading-section-primary {
  color: #565656;
  font-size: 4.75rem;
  font-weight: 100;
  text-transform: uppercase; }

.heading-section-tertiary {
  color: #565656;
  font-size: 3.75rem;
  font-weight: 300;
  text-transform: capitalize; }

.paragraph {
  font-size: 2rem;
  font-weight: 100;
  color: #565656;
  text-align: left;
  line-height: 3rem; }

.text-center {
  text-align: center; }

.u-fix-heading {
  margin-top: 10rem; }

.u-fix-margin-top-small {
  margin-top: 5rem !important; }

.u-fix-color {
  color: white !important; }

.u-fix-upper {
  text-transform: uppercase !important; }
