.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 1);
}

.spinner {
    border: 16px solid #bdc3c7;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border-top-color: $color-primary;
    border-right-color: $color-secondary;
    border-bottom-color: $color-primary;
    border-left-color: $color-secondary;
    animation: 3s spin linear infinite;
}

// HR
.hr {
    border: 0;
    box-shadow: 0 0 10px 1px $color-secondary;
    margin: 1rem auto 3rem auto;
    width: 10rem;
    height: 0.5rem;
    border-radius: 10px;
}

// SVG STYLE
.svg--icon {
    background-color: $color-secondary;
    margin-right: 2rem;
    height: 3.75rem;
    width: 3.75rem;
    padding: 0.75rem;
    fill: white;
    transition: all 0.2s;
}

.svg--icon:hover {
    transform: translatey(-3px) scale(1.03);
    box-shadow: 0 8px 6px -6px black;
}

.svg--brand {
    fill: white;
    width: 10rem;
    height: 8rem;
    padding: 2rem;
    transition: all 0.2s;
}

$colors: (
    html: #e34f26,
    css: #1572b6,
    js: #f7df1e,
    bs: #563d7c,
    sass: #cc6699,
    nodejs: #47a248,
    jq: #0769ad,
    mongodb: #339933,
    python: #3776ab,
    git: #f05032,
    django: #092e20,
    gitlab: #e24329,
    linkedin: #0077b5,
    face: #3b5998
);

@each $class, $color in $colors {
    .#{$class} {
        background-color: $color;
    }
    .svg--brand:hover {
        transform: translateY(-5px) scale(1.05);
        box-shadow: 0 8px 6px -6px rgba(white, 0.8);
    }
}

// ANIMATIONS
// texts
@keyframes slidefade {
    0% {
        opacity: 0;
        transform: translateX(-3rem);
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

// particles style
.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

// arrow bouncing
.arrow {
    // svg config in arrow.svg
    width: 3.5rem;
    cursor: pointer;
}

.bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// spaceship
.lottie {
    animation-name: grow;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes grow {
    from {
        transform: translate(0, 0) rotate(0);
    }

    to {
        transform: translate(3%, -3%) rotate(5deg);
    }
}
