.u-fix-heading {
    margin-top: 10rem;
}
.u-fix-margin-top-small {
    margin-top: 5rem !important;
}

.u-fix-color {
    color: white !important;
}

.u-fix-upper {
    text-transform: uppercase !important;
}

.u-hide {
    display: none !important;
}

.u-thank-you {
    color: $color-background-1;
    font-size: 3.2rem;
    line-height: 1.8;
}
